[workspace]
members = ["derive"]

[package]
name = "fastobo-py"
version = "0.8.2"
authors = ["Martin Larralde <martin.larralde@ens-paris-saclay.fr>"]
publish = false
build = "src/build.rs"

[lib]
crate-type = ["cdylib", "rlib"]
name = "fastobo_py"
doctest = false

[dev-dependencies]
lazy_static = "1.4.0"

[build-dependencies]
built = { version  = "0.4.1", features = ["chrono"] }

[dependencies]
libc = "0.2.70"
opaque_typedef = "0.0.5"
opaque_typedef_macros = "0.0.5"
pyo3-built = "0.4.1"
pest = "=2.1.3"
url = "2.1.0"
[dependencies.pyo3]
version = "0.11.1"
[dependencies.fastobo]
version = "0.10.0"
features = ["threading"]
[dependencies.fastobo-graphs]
version = "0.4.0"
features = ["obo"]
[dependencies.fastobo-py-derive-internal]
version = "0.8.2"
path = "./derive"

[features]
default = []
extension-module = ["pyo3/extension-module"]
nightly = ["pyo3/nightly"]
