[workspace]
members = ["derive"]

[package]
name = "fastobo-py"
version = "0.8.1"
authors = ["Martin Larralde <martin.larralde@ens-paris-saclay.fr>"]
publish = false
build = "src/build.rs"

[lib]
crate-type = ["cdylib", "rlib"]
name = "fastobo_py"
doctest = false

[dev-dependencies]
lazy_static = "1.4.0"

[build-dependencies]
built = { version  = "0.4.1", features = ["chrono"] }

[dependencies]
libc = "0.2.70"
opaque_typedef = "0.0.5"
opaque_typedef_macros = "0.0.5"
pyo3 = { git = "https://github.com/pyo3/pyo3" }
pyo3-built = "0.4.1"
pest = "=2.1.2"
url = "2.1.0"

fastobo = "0.9.0"
fastobo-graphs = "0.3.0"
fastobo-py-derive-internal = { version = "0.8.1", path = "./derive" }

[features]
default = []
extension-module = ["pyo3/extension-module"]
