[workspace]
members = ["derive"]

[package]
name = "fastobo-py"
version = "0.3.2"
authors = ["Martin Larralde <martin.larralde@ens-paris-saclay.fr>"]
publish = false
build = "src/build.rs"

[lib]
crate-type = ["cdylib"]
name = "fastobo_py"

[build-dependencies]
built = "0.3.1"

[dependencies]
pyo3 = { git = "https://github.com/PyO3/pyo3", features = ["unsound-subclass"] }
pest = "2.1.1"
libc = "0.2.62"
url = "2.0.0"
opaque_typedef = "0.0.5"
opaque_typedef_macros = "0.0.5"

fastobo = "0.7.0"
fastobo-graphs = "0.1.1"
fastobo-py-derive-internal = { path = "./derive" }
