include setup.*
include Cargo.toml
include Cargo.lock
include COPYING
include CHANGELOG.md
include README.md
include pyproject.toml

recursive-include derive Cargo.toml *.rs
recursive-include src *.rs
recursive-include tests *.py *.obo
