# build dependencies, used to compile the code in ReadTheDocs.io
setuptools >=39.2
setuptools-rust >=1.0

# sphinx documentation dependencies
sphinx ~=3.1
recommonmark ~=0.6
ipykernel ~=5.3
ipython ~=7.15
nbsphinx ~=0.7
pygments-style-monokailight ~=0.4
semantic_version ~=2.8
networkx ~=2.5
pygraphviz ~=1.10

# sphinx-bootstrap-theme ~=0.7 with patched admonition
https://github.com/althonos/sphinx-bootstrap-theme/archive/master.zip
